/********************************
	NAVBAR for Chemi Gastro
			by stanik123
 ********************************/
/* Text & Colors & Transition */
#navBar {
  background-color: var(--green);
}
#navBar a {
  text-decoration: none;
  color: var(--text);
  background-color: var(--green);
}
#navBar a:hover {
  background-color: var(--dark-green);
}
#navBar, #navBar * {
  transition: all 1s ease-out 0.1s;
}

/* Layout */
#navBar {
  display: flex;
  z-index: 100;
}
#navBar a, #navBar input, #navBar label {
  display: block;
}
#navBar input {
  width: 0;
  height: 0;
}
#navBar a {
  height: 4rem;
}
#navBar a label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#navBar a svg {
  height: 3rem;
}
#navBar::before { /* Divider - move last 3 item to end */
  content: "";
  display: block;
  flex: 1 1 0;
  order: 1;
}
#navBar #navArrow {
  display: none;
}

#navArrow, #navBar > a:nth-of-type(6), #navBar > a:nth-of-type(7), #navBar > a:nth-of-type(8) {
  order: 2;
}

#langSelect {
  position: fixed;
  display: none;
}
#langSelect a img {
  display: block;
  height: 1.5rem;
  margin: 0.75rem auto;
}

#checkLang:checked ~ #langSelect {
  display: flex;
}

@media (orientation: landscape) {
  #navBar {
    height: 100%;
    flex: 0 0 8rem;
    flex-direction: column;
  }
  #navBar > a {
    text-align: left;
    height: 3rem;
    width: 8rem;
    padding: 0 0.75rem;
  }
  #navBar > a:first-of-type {
    height: 4rem;
    padding: 0.5rem 0.75rem;
  }
  #navBar > a:first-of-type svg {
    margin-left: 0.125rem;
  }
  #navBar > a i {
    display: inline-block;
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-top: 0.25rem;
    font-size: 1.2rem;
    /*border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);*/
  }
  #navBar > a p {
    display: inline-block;
    float: left;
    width: 4rem;
    height: 3rem;
    line-height: 3rem;
    /*margin-left: .25rem;*/
    overflow: hidden;
    font-size: 1.2rem;
  }
  /*#logoText {
  	transform: scaleX(1);
  	transform-origin: 37.5%;
  }*/
  #navArrow i:last-child {
    display: none;
  }
  #langSelect {
    top: 10rem;
    left: 8rem;
    height: 3rem;
    width: 20rem;
    border-radius: 0 1rem 1rem 0;
  }
  #langSelect > a {
    flex-basis: 25%;
    height: 3rem;
    text-align: center;
  }
  #langSelect > a:last-child {
    border-radius: 0 1rem 1rem 0;
  }
}
@media (orientation: landscape) and (max-height: 27.5em) {
  #navBar #navArrow {
    display: block;
    height: 3rem;
  }
  #navBar > a:nth-of-type(6) { /*Favorite*/
    display: none;
    left: 8rem;
    bottom: 3rem;
    border-radius: 0;
  }
  #navBar > a:nth-of-type(7) { /*Cooked*/
    display: none;
    left: 16rem;
    bottom: 3rem;
    border-radius: 0 2rem 1rem 0;
  }
  #checkArrow:checked ~ a:nth-of-type(6), #checkArrow:checked ~ a:nth-of-type(7) {
    position: fixed;
    display: block;
  }
}
@media (orientation: landscape) and (max-height: 27.5em) and (max-height: 23.75em) {
  #navBar > a:nth-of-type(8) { /*Account*/
    display: none;
    left: 24rem;
    bottom: 0;
    border-radius: 0 2rem 1rem 0;
    position: fixed;
  }
  #checkArrow:checked ~ a:nth-of-type(8) {
    display: block;
  }
  #navBar > a:nth-of-type(6), #navBar > a:nth-of-type(7) {
    bottom: 0;
    border-radius: 0;
  }
}
@media (orientation: landscape) and (max-height: 27.5em) and (max-height: 23.75em) and (max-height: 20em) {
  #navBar > a:nth-of-type(4) { /*Lang*/
    display: none;
    left: 32rem;
    bottom: 0;
    border-radius: 0 2rem 1rem 0;
    position: fixed;
  }
  #checkArrow:checked ~ a:nth-of-type(4) {
    display: block;
  }
  #navBar > a:nth-of-type(8), #checkLang:checked ~ a:nth-of-type(8) {
    border-radius: 0;
  }
  #checkLang:checked ~ #langSelect {
    bottom: 3rem;
    border-radius: 0 2rem 0 0;
  }
  #checkLang:checked ~ a:nth-of-type(4) {
    border-radius: 0 0 1rem 0;
  }
}
@media (orientation: landscape) and (hover: hover) {
  #navBar {
    overflow: hidden;
  }
  #navBar:not(:hover) {
    flex-basis: 0;
  }
}
@media (orientation: portrait) {
  #navBar {
    flex-basis: 4rem;
    width: 100%;
  }
  #navBar a {
    height: 4rem;
    min-width: 4rem;
    max-width: 8rem;
    flex: 1 0 4rem;
    padding: 0.5rem;
    text-align: center;
  }
  #navBar a:first-of-type {
    flex: 0 0 8rem;
    width: 8rem;
  }
  #navBar a i {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  #navBar a p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  #navArrow i:first-child {
    display: none;
  }
  #checkLang:checked ~ #langSelect {
    display: flex;
    visibility: visible;
    position: fixed;
    right: 8rem;
    bottom: 4rem;
    height: 4rem;
    width: 21rem;
  }
  #langSelect a {
    flex: 0 0 25%;
  }
}
@media (orientation: portrait) and (min-width: 70rem) {
  nav a {
    flex: 0 0 8rem;
  }
  #checkLang:checked ~ #langSelect {
    left: 8rem;
    right: auto;
    width: 32rem;
  }
}
@media (orientation: portrait) and (max-width: 40rem) {
  #navBar::before {
    display: none;
  }
  #navBar #navArrow {
    display: block;
  }
  #navBar > a:nth-of-type(6), #navBar > a:nth-of-type(7) {
    display: none;
    bottom: 4rem;
    width: calc((100vw - 8rem) / 5);
  }
  #navBar > a:nth-of-type(7) {
    bottom: 8rem;
  }
  #checkArrow:checked ~ a:nth-of-type(6),
  #checkArrow:checked ~ a:nth-of-type(7) {
    position: fixed;
    right: calc((100vw - 8rem) / 5);
    display: block;
  }
  #checkLang:checked ~ #langSelect {
    right: 10rem;
    width: 20rem;
  }
}
@media (orientation: portrait) and (max-width: 40rem) and (max-width: 35rem) {
  #navBar > a:nth-of-type(8) {
    display: none;
    right: 0;
    bottom: 12rem;
    width: calc((100vw - 8rem) / 4);
    position: fixed;
  }
  #checkArrow:checked ~ a:nth-of-type(6),
  #checkArrow:checked ~ a:nth-of-type(7) {
    right: 0;
    width: calc((100vw - 8rem) / 4);
  }
  #checkArrow:checked ~ a:nth-of-type(8) {
    display: block;
  }
  #checkLang:checked ~ #langSelect {
    bottom: 8rem;
    right: 0;
  }
  #checkArrow:not(:checked) ~ #langSelect {
    visibility: hidden;
  }
}
@media (orientation: portrait) and (max-width: 40rem) and (max-width: 35rem) and (max-width: 30rem) {
  #navBar > a:nth-of-type(4) {
    display: none;
    right: 0;
    bottom: 16rem;
    width: calc((100vw - 8rem) / 3);
    position: fixed;
    border-radius: 2rem 1rem 0 0;
  }
  #checkArrow:checked ~ a:nth-of-type(6),
  #checkArrow:checked ~ a:nth-of-type(7),
  #checkArrow:checked ~ a:nth-of-type(8) {
    width: calc((100vw - 8rem) / 3);
  }
  #checkArrow:checked ~ a:nth-of-type(4) {
    display: block;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../src/styles/nav.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAEA;AAAA;AAAA;AAAA;AAKA;AACA;EACC;;AACA;EACC;EACA;EACA;;AACA;EACC;;AAGF;EACC;;;AAIF;AACA;EACC;EACA;;AACA;EACC;;AAED;EACC;EAAU;;AAEX;EACC;;AACA;EACC;EAAa;EACb;;AAED;EACC;;AAGF;EACC;EACA;EACA;EACA;;AAED;EACC;;;AAGF;EACC;;;AAED;EACC;EACA;;AACA;EACC;EACA;EACA;;;AAGF;EACC;;;AAGD;EACC;IACC;IAAc;IACd;;EACA;IACC;IACA;IAAc;IACd;;EACA;IACC;IACA;;EACA;IACC;;EAGF;IACC;IACA;IACA;IAAe;IACf;IAAqB;IACrB;IACA;AACA;AAAA;;EAGD;IACC;IACA;IACA;IAAa;IACb;AACA;IACA;IACA;;AAIH;AAAA;AAAA;AAAA;EAIA;IACC;;EAED;IACC;IAAY;IACZ;IAAc;IACd;;EACA;IACC;IACA;IACA;;EACA;IACC;;;AAIH;EAEE;IACC;IACA;;EAED;IACC;IACA;IAAY;IACZ;;EAED;IACC;IACA;IAAa;IACb;;EAGF;IACC;IACA;;;AAED;EACC;IACC;IACA;IAAa;IACb;IACA;;EAED;IACC;;EAED;IACC;IACA;;;AAED;EACC;IACC;IACA;IAAa;IACb;IACA;;EAED;IACC;;EAED;IACC;;EAED;IACC;IACA;;EAED;IACC;;;AAKJ;EACC;IACC;;EACA;IACC;;;AAKJ;EACC;IACC;IAAkB;;EAClB;IACC;IAAc;IAAiB;IAC/B;IACA;IACA;;EACA;IACC;IACA;;EAED;IACC;IAAmB;;EAEpB;IACC;IAAiB;;EAKnB;IACC;;EAGF;IACC;IAAe;IACf;IAAiB;IAAa;IAC9B;IAAc;;EAEf;IACC;;;AAGD;EACC;IACC;;EAED;IACC;IAAY;IACZ;;;AAIF;EAEE;IACC;;EAED;IACC;;EAED;IAEC;IACA;IACA;;EAED;IACC;;EAGF;AAAA;IAEC;IAAiB;IACjB;;EAED;IACC;IACA;;;AAED;EACC;IACC;IACA;IAAU;IACV;IACA;;EAED;AAAA;IAEC;IACA;;EAED;IACC;;EAED;IACC;IAAc;;EAEf;IACC;;;AAGD;EACC;IACC;IACA;IAAU;IACV;IACA;IACA;;EAED;AAAA;AAAA;IAGC;;EAED;IACC%22,%22file%22:%22nav.css%22%7D */
