<!DOCTYPE html>
<html lang="cs">
<head>
  <base href="../../">

  <!--Uprav cz (zde, v header a v footer)-->
  <!--(bake /src/cz/includes/head_defaults.html)-->
  
  <!--Níže uprav a smaž komentáře-->
  <title>Titulek - Chemi Gastro</title><!--Uprav-->
  <meta property="og:title" content="Titulek - Chemi Gastro"><!--Uprav-->
  <meta name="keywords" content="Klíčová, slova"><!--Uprav-->
  <meta name="description" content="Popis strany"><!--Uprav-->
  <meta property="og:description" content="Popis strany"><!--Uprav-->
  <meta property="og:image" content="images/obrazek.webp"><!--Uprav-->
  <meta property="og:image:alt" content="Popisek"><!--Uprav-->
  <meta property="og:image:type" content="image/webp">
</head>
<body>
<!--(bake /src/cz/includes/header.html)-->
<main>
  <header>
    <img src="images/obrazek.webp" alt="Popisek"><!--Uprav-->
    <h1>Titulek</h1><!--Uprav-->
  </header>
  
  
  <article>
    <h2> </h2>
    <p> </p>
  </article>
  
  
  <section>
    <p> </p>
  </section>
  <!--(bake /src/cz/includes/footer.html)-->
</main>
<script src="styles/scripts.js"></script>
</body>
</html>